<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">

    <test name="Basic">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.Basic"/>
        </classes>
    </test>
    <test name="SimpleForm">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.SimpleForm"/>
        </classes>
    </test>
    <test name="CheckBox">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.CheckBox"/>
        </classes>
    </test>
    <test name="RadioButton">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.RadioButton"/>
        </classes>
    </test>
    <test name="DropdownList">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.DropdownList"/>
        </classes>
    </test>
    <test name="JavaScript Alerts">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.JavaScriptAlerts"/>
        </classes>
    </test>
    <test name="Window Popup Model">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.WindowPopupModel"/>
        </classes>
    </test>
    <test name="Bootstrap Alerts">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.BootstrapAlerts"/>
        </classes>
    </test>



</suite>