<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">

    <test name="Basic">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.Basic"/>
        </classes>
    </test>
    <test name="SimpleForm">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.SimpleForm"/>
        </classes>
    </test>
    <test name="CheckBox">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.CheckBox"/>
        </classes>
    </test>
    <test name="RadioButton">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.RadioButton"/>
        </classes>
    </test>
    <test name="DropdownList">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.DropdownList"/>
        </classes>
    </test>
    <test name="JavaScript Alerts">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.JavaScriptAlerts"/>
        </classes>
    </test>
    <test name="Window Popup Model">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.WindowPopupModel"/>
        </classes>
    </test>
    <test name="Bootstrap Alerts">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.BootstrapAlerts"/>
        </classes>
    </test>
    <test name="Bootstrap Modals">
        <classes>
            <class name="com.qtest.easy.automation.tests.basic.BootstrapModals"/>
        </classes>
    </test>



    <test name="Intermediate">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.Intermediate"/>
        </classes>
    </test>
    <test name="Input Form With Validation">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.InputFormWithValidation"/>
        </classes>
    </test>
    <test name="Ajax Form">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.AjaxForm"/>
        </classes>
    </test>
    <test name="Jquery Select Dropdown">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.JquerySelectDropdown"/>
        </classes>
    </test>
    <test name="Bootstrap List Box">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.BootstrapListBox"/>
        </classes>
    </test>
    <test name="Jquery List Box">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.JqueryListBox"/>
        </classes>
    </test>
    <test name="Data List Filter">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.DataListFilter"/>
        </classes>
    </test>
    <test name="Progress Bar Modal">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.ProgressBarModel"/>
        </classes>
    </test>
    <test name="File Download">
        <classes>
            <class name="com.qtest.easy.automation.tests.intermediate.FileDownload"/>
        </classes>
    </test>


    <test name="Advanced">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.Advanced"/>
        </classes>
    </test>
    <test name="Table Pagination">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.TablePagination"/>
        </classes>
    </test>
    <test name="Table Data Search">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.TableDataSearch"/>
        </classes>
    </test>
    <test name="Table Filter">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.TableFilter"/>
        </classes>
    </test>
    <test name="Table Sort And Search">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.TableSortAndSearch"/>
        </classes>
    </test>
    <test name="Table Data Download">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.TableDataDownload"/>
        </classes>
    </test>
    <test name="Jquery Download Progress Bar">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.JqueryDownloadProgressBar"/>
        </classes>
    </test>
    <test name="Bootstrap Download Progress Bar">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.BootstrapDownloadProgressBar"/>
        </classes>
    </test>
    <test name="Drag And Drop Slider">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.DragAndDropSlider"/>
        </classes>
    </test>
    <test name="Drag And Drop">
        <classes>
            <class name="com.qtest.easy.automation.tests.advanced.DragAndDrop"/>
        </classes>
    </test>
</suite>